.search {
  margin-top: 1.4rem;
  margin-left: 1.4rem;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
  height: 3rem;
  width: 30%;

  &:focus-within {
    box-shadow: 0 0.7rem 3rem rgba(var(--color-grey-dark-1), 0.08);
  }

  .searchTerm {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.6rem;
    width: 30rem;
    color: rgb(91, 91, 91);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #999;
    }
  }
}
